a {
  color: #0367d8;
}

body {
  font-family: system-ui;
  margin: 3em auto;
  max-width: 30em;
}

html {
  background-color: hsl(0deg 0% 90%);
  color-scheme: light dark;
}

output {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  html {
    color: hsl(214deg 13% 90%);
    background-color: hsl(214deg 13% 10%);
  }
}
